{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends "WheelOfFortuneBundle:WheelOfFortune:base.html.twig" %}

{% block title %}{%trans%}common.title{%endtrans%}{% endblock %}

{% block body %}
    <div class="container">
        <h1>
            {% trans %}
                common.title
            {% endtrans %}
        </h1>
        <div class="row">
            <div class="col-md-6">
                <p>
                    {% trans %}
                        index.intro
                    {% endtrans %}
                </p>
                <p>
                    {% trans %}
                        index.prizes
                    {% endtrans %}
                <div class="row">
                    {% for prize in prizes %}
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body prize">
                                    {% trans with({maxwinners:prize.maxWinners}) %}index.prizewinners{% endtrans %}
                                    <br />
                                    {{prize.description}}
                                    <br />
                                    {% trans with({odds:prize.odds}) %}index.prizeodds{% endtrans %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </p>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default {% if invalid %}panel-danger{% endif %}">
                    {% if invalid %}
                        <div class="panel-heading">
                            {% trans %}
                                index.forminvalid
                            {% endtrans %}
                        </div>
                    {% endif %}
                    <div class="panel-body">
                        {{ form_start(form) }}   
                        {{ form_errors(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .prize{
            text-align: center;    
        }
    </style>
{% endblock %}