{% extends "WheelOfFortuneBundle:WheelOfFortune:base.html.twig" %}

{% block title %}{%trans%}common.title{%endtrans%}{% endblock %}

{% block body %}
    <div class="container">
        <h1>
            {% trans %}
                common.title
            {% endtrans %}
        </h1>
        <h2>
            {% trans with({'%name%':player.firstName}) %}
                play.subtitle
            {% endtrans %}
        </h2>
        <p>
            {% trans %}
                play.intro
            {% endtrans %}
        </p>

        <div class='wheel'>
            {% if showprize %}
                {{ include('WheelOfFortuneBundle:WheelOfFortune:spin.html.twig', { 'prize': player.prize }) }}
            {% else %}
                <p class='bg-danger hidden failed'>
                    play.ajaxerror
                </p>
                <p>
                    <a class='spinTheWheel btn btn-default btn-lg btn-block' href="{{ path('spin', { 'playerid' : player.id })}}" role="button">
                        {% trans %}
                            play.spin
                        {% endtrans %}
                    </a>
                </p>
            {% endif %}
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $(".spinTheWheel").one("click", function () {
                var $btn = $(this);
                $btn.prop('disabled', true).addClass("disabled");
                $.get($btn.attr('href'))
                        .done(function (data) {
                            $(".wheel").hide().empty().append(data).fadeIn('slow');
                        })
                        .fail(function () {
                            $(".failed").removeClass("hidden");
                            $btn.prop('disabled', false).removeClass("disabled");
                        });
                return false;
            });
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <style type="text/css">
        .spinresult{
            padding: 15px;
        }
    </style>
{% endblock %}