{% if prize %}
    <div class='bg-success spinresult'>
        {% trans with({description:prize.description}) %}
            spin.won
        {% endtrans %}
    </div>
{% else %}
    <div class='bg-danger spinresult'>
        {% trans %}
            spin.lost
        {% endtrans %}
    </div>
{% endif %}